.Battle {
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background-image: url(/img/maps/backgrount_test_192x352.png);
  background-size: cover;
  image-rendering: pixelated;
}

.Battle_hero {
  position: absolute;
  transform: scale(1);
  /*taille du sprite du hero*/
  width: 62px;  
  height: 50px;
}

.Battle_enemy {
  position: absolute;
  transform: scale(1);
  width: 64px;
  height: 64px;
  overflow: hidden;
  /*background: url(/images/characters/shadow.png) no-repeat no-repeat;*/
}
.Battle_hero img, .Battle_enemy img {
  pointer-events: none;
}
.Battle_hero {
  bottom: 0px;
  left: 1px;
}
.Battle_hero img {
  transform: translateY(-64px); /* Nudge hero spritesheet */
}
.Battle_enemy {
  top: 0px;
  right: -1px;
}
