:root {
    --border-color: #291D4D;
    --dialog-background: #FFF3B4;

    --menu-background: rgba(0,0,0,0.7);
    --menu-background-blend-mode: darken;
    --menu-border-color: black;
    --menu-font-color: white;
    --menu-selected-background: #7FC2FF;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #333;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 352px;
    height: 192px;
    margin: 0 auto;
    margin-top: 20px;
    outline: 1px solid white;

    transform: scale(3) translateY(50%);
}

.game-container canvas {
    image-rendering: pixelated;
}